<!--<footer class="footer bg-light mt-5">-->
<footer class="footer mt-5">
  <div class="container d-flex flex-column align-items-center">
    <div class="text-center">
      <p class="mb-0 mt-2">Image Color Analyzer {{ currentYear }} | All rights reserved.</p>
    </div>
    <div class="text-center">
      <p class="mt-2">Contact Me On My Social Media:</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://github.com/BozhidarMindov" target="_blank" class="text-dark"><i class="bi bi-github large-icon"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/bozhidar-mindov/" target="_blank" class="text-dark"><i class="bi bi-linkedin large-icon"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/BozhidarMindov" target="_blank" class="text-dark"><i class="bi bi-twitter large-icon"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="mailto:bmindov.test@gmail.com" class="text-dark"><i class="bi bi-envelope-fill large-icon"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>





