<div class="container">
  <h2>Register</h2>
  <!-- Register form -->
  <form (ngSubmit)="register()">
    <!-- Register form fields -->
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="username" name="username">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary mt-3 mb-3">Register</button>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </form>
</div>


