<app-navbar></app-navbar>
<div class="container">
  <h1 class="display-4">Welcome to the Image Color Analyzer!</h1>
  <h3 class="text-center mt-3">Try it out:</h3>

  <div class="form-group">
    <label for="numColors">Number of Colors (1-10):</label>
    <input type="number" id="numColors" class="form-control" min="1" max="10" value="10" [(ngModel)]="numColors" (change)="onNumColorsChange(numColors)" required>
  </div>

  <div class="input-group mt-3 mb-3">
    <input type="file" #fileInput class="form-control" (change)="onFileSelected(fileInput)">
    <button class="btn btn-primary" (click)="uploadImage()">Upload</button>
  </div>
  <app-demo></app-demo>
</div>
<app-footer></app-footer>

