<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 85vh;">
  <div class="mb-3">
    <h2 class="text-center">Color Analysis for Image:</h2>
    <div class="row">
      <div class="col-md-6">
        <img [src]="imageUrl" alt="Color Analysis" class="resized-image mt-3">
      </div>
      <div class="col-md-6">
        <table *ngIf="colorData" class="table table-bordered table-hover table-sm mt-3 mb-3">
          <thead class="thead-light">
            <tr>
              <th>Color</th>
              <th>HEX</th>
              <th>RGB</th>
              <th>Frequency</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let color of colorData">
              <td class="color-cell" [style.background-color]="color.hex_color"></td>
              <td>{{ color.hex_color.toUpperCase() }}</td>
              <td>{{ color.rgb_color}}</td>
              <td>{{ color.frequency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <button class="btn btn-primary mt-3 mb-3" (click)="analyzeAnotherImage()">Analyze Another Image</button>
</div>
