<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">User Information</h2>
          <div *ngIf="userInfo">
            <p class="card-text"><strong>Username:</strong> {{ userInfo.username }}</p>
            <p class="card-text"><strong>Email:</strong> {{ userInfo.email }}</p>
            <button class="btn btn-danger" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


