.color-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-box {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #ccc;
}

.resized-image {
  width: 400px; /* Adjust the desired width */
  height: auto; /* Automatically adjust the height while maintaining aspect ratio */
}
